
<div class="main-frame">
  <mat-toolbar layout-align="space-between center">
    <button (click)="toggleDrawer()" matIconButton aria-label="menu bar" class="nav-bar">
      @if (isOpenDrawer()) {
        <mat-icon>menu_open</mat-icon>
      } @else {
        <mat-icon>menu</mat-icon>
      }
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button matIconButton [matMenuTriggerFor]="menu" aria-label="user login menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="setDarkMode()">
        @if (isDarkMode()) {
          <mat-icon>light_mode</mat-icon>
        } @else {
          <mat-icon>mode_night</mat-icon>
        }
        <span>Theme</span>
      </button>
      <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav mode="over" opened [ngClass]="isOpenDrawer() ? 'active' : ''">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon matListItemIcon>add</mat-icon>
          <span>Add</span>
        </mat-list-item>
      </mat-nav-list>

      <mat-nav-list>
        <mat-list-item routerLink="/packages" routerLinkActive="active">
          <mat-icon matListItemIcon class="material-symbols-outlined">package_2</mat-icon>
          <span>Paket übersicht</span>
        </mat-list-item>

        <mat-list-item routerLink="/calc" routerLinkActive="active">
          <mat-icon matListItemIcon>calculate</mat-icon>
          <span>Paketpreis rechner</span>
        </mat-list-item>

        <mat-list-item routerLink="/statistics" routerLinkActive="active">
          <mat-icon matListItemIcon>analytics</mat-icon>
          <span>Statistik</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
