// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "sass:math";
@use "sass:list";
@use "sass:map";

$breakpoint-md: 768px;

$typography-content: (
  padding: (
    padding-small: 8px,
    padding-middle: 12px,
    padding-large: 16px,
  ),
  border-radius: 35px
);

$light-theme: (
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: Roboto,
  density: 0,
);

$dark-theme: (
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
    theme-type: dark,
  ),
  typography: Roboto,
  density: 0,
);

html {
  @include mat.theme($light-theme);
}

html.dark-theme {
  @include mat.theme($dark-theme);
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-frame {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/************Layout-Flex-Style*************/
@mixin layout-position-style {
  $layout-main: (
    start: flex-start,
    center: center,
    end: flex-end,
    "space-between": space-between,
    "space-around": space-around,
    "space-evenly": space-evenly
  );

  $layout-cross: (
    start: flex-start,
    center: center,
    end: flex-end,
    stretch: stretch
  );

  [layout-align] {
    display: flex;
  }

  @each $main-name, $main-val in $layout-main {
    @each $cross-name, $cross-val in $layout-cross {
      [layout-align="#{$main-name} #{$cross-name}"] {
        justify-content: $main-val;
        align-items: $cross-val;
      }
    }
  }

  [layout-align="center"] {
    justify-content: center;
    align-items: center;
  }

  [layout-align="start"] {
    justify-content: flex-start;
    align-items: flex-start;
  }

  [layout-align="end"] {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@mixin flex-style {
  $flex-values: (
    "nogrow": 0 1 auto,
    "noshrink": 1 0 auto,
    "none": none
  );

  [flex] {
    flex: 1 1 auto;
    box-sizing: border-box;
  }

  @each $attr, $flex in $flex-values {
    [flex="#{$attr}"] {
      flex: $flex;
      box-sizing: border-box;
    }
  }

  @for $i from 1 through 100 {
    [flex="#{$i}"] {
      flex: math.div($i, 100) 1 auto;
      box-sizing: border-box;
    }
  }
}

@mixin layout-style {

  [layout],
  [layout="column"] {
    display: flex;
    flex-direction: column;
  }

  [layout="row"] {
    display: flex;
    flex-direction: row;
  }

  @include flex-style;
  @include layout-position-style;
}

@include layout-style;
/************Layout-Flex-Style*************/

/**************Icon-Button-Style****************/
@include mat.icon-button-overrides((
  icon-color: var(--mat-sys-secondary-container),
  ripple-color: var(--mat-sys-primary),
  state-layer-color: var(--mat-sys-primary-container),
));
/**************Icon-Button-Style****************/

/************Toolbar-Style*************/
@include mat.toolbar-overrides((
  container-background-color: var(--mat-sys-primary),
  container-text-color: var(--mat-sys-secondary-container),
));
/************Toolbar-Style*************/

/**************Menu-Style****************/
@include mat.menu-overrides((
  container-color: var(--mat-sys-secondary),
  item-label-text-color: var(--mat-sys-secondary-container),
  item-icon-color: var(--mat-sys-on-secondary),
));
/**************Menu-Style****************/

/**************NavBar-Style****************/

@include mat.sidenav-overrides((
  container-background-color: var(--mat-sys-secondary),
  container-elevation-shadow: var(--mat-sys-level2)
));

@include mat.list-overrides((
  list-item-label-text-color: var(--mat-sys-secondary-container),
  list-item-leading-icon-color: var(--mat-sys-secondary-container),
  list-item-hover-leading-icon-color: var(--mat-sys-primary-container),
  list-item-hover-label-text-color: var(--mat-sys-primary-container),
  list-item-hover-state-layer-color: var(--mat-sys-secondary-container),
  list-item-hover-state-layer-opacity: .12,
));

.nav-bar {
  display: none !important;
}

mat-sidenav-container {
  flex: 1 1 auto;

  mat-sidenav {
    margin: 8px 0 8px 0;
    width: auto !important;
    padding: 8px;

    &:hover {
      span {
        display: unset;
      }
    }

    mat-list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 0 !important;

      span {
        padding-right: 8px;
        display: none;
      }
    }
  }
}

mat-sidenav-content {
  min-height: 500px;
}

@media screen and (max-width: $breakpoint-md) {
  .nav-bar {
    display: unset !important;
  }
  mat-sidenav {
    display: none !important;
    margin: 0 !important;
  }

  mat-sidenav.active {
    display: unset !important;
    height: -webkit-fill-available !important;
    width: 100% !important;
    border-radius: unset;

    mat-list-item {
      span {
        display: unset;
      }
    }
  }
}
/**************NavBar-Style****************/

.test {
  position: absolute;
  width: 100%;
  height: 900px;
  background-color: red;
}

